:root {
  --black: rgba(0, 0, 0, 1);
  --blur-large: ;
  --greengreen-positive-texts-green300: rgba(41, 165, 95, 1);
  --primarydefault: rgba(146, 81, 247, 1);
  --secondarydefault: rgba(81, 108, 247, 1);
  --shadows-black30: 0px 40px 30px 0px rgba(25, 25, 46, 0.04);
  --statusinfo: rgba(34, 195, 241, 1);
  --statussuccess: rgba(74, 192, 111, 1);
}
